@model Clinic.Models.AppoinmentInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppoinmentInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedIsuue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedIsuue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAppoinment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAppoinment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
