@model IEnumerable<Clinic.Models.AppoinmentInfo>

@{
    ViewBag.Title = "ViewAppionment";
}

<h2>ViewAppionment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportedIsuue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAppoinment)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportedIsuue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAppoinment)
        </td>
    </tr>
}

</table>
